wp-admin/
wp-includes/ 
wp-content/uploads/ShortpixelBackups/bulk_media_1698175870.log
wp-content/uploads/ShortpixelBackups/wp-content/2023/08/Ultra-Music-Festivals-‘Mission-Home-Sustainability-Program-wins-multiple-event-industry-awards-and-earns-accolades-from-respected-environmental-organizations-100x100.png
wp-content/uploads/ShortpixelBackups/bulk_media_1698175870.log